@model AssignmentCsharp4_hieuptph18134.Models.HoaDonChiTiet

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HoaDonChiTiet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaHoaDonCt" class="control-label"></label>
                <input asp-for="MaHoaDonCt" class="form-control" />
                <span asp-validation-for="MaHoaDonCt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaHoaDon" class="control-label"></label>
                <select asp-for="MaHoaDon" class ="form-control" asp-items="ViewBag.MaHoaDon"></select>
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label"></label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongTien" class="control-label"></label>
                <input asp-for="TongTien" class="form-control" />
                <span asp-validation-for="TongTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaSanPham" class="control-label"></label>
                <select asp-for="MaSanPham" class ="form-control" asp-items="ViewBag.MaSanPham"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
